@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Merriweather&display=swap');

/* 
author: Shaxobiddin
started at: 14/11/2023
project: StyleMix

*/

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: #fff;
}

.main {
    border: 2px solid #eee;
    padding-bottom: 10rem;
}

:root {
    --fontDM: 'DM Sans', sans-serif;
    --fontMR: 'Merriweather', serif;
}

/* HEADER PART STARTED */

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: var(--fontDM);
    z-index: 11;
    height: max-content;
}

.site-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
    gap: 0.5rem;
    height: max-content;
}

.header-logo-container {
    width: fit-content;
    height: fit-content;
    margin-right: 10rem;
}

.header-links-container {
    display: flex;
    border-right: 0.1rem solid #414562;
}

.header-links-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;

    .header-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #414562;
        transition: all 0.4s ease;

        &.active,
        &:hover {
            color: #A6876A;
        }

        i {
            font-size: 0.75rem;
        }
    }
}

.header-search-container {
    display: flex;
    gap: 1rem;
    margin-left: 0.5rem;

    .header-search-icon,
    .header-shopping-cart {
        background: none;
        cursor: pointer;

        i {
            font-size: 1rem;
            color: #414562;
            transition: all 0.4s ease;

            &:hover {
                color: #A6876A;
            }
        }
    }
}

.header-search-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.header-search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
}

.header-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.burger-menu {
    display: none;
    z-index: 10;
}

@media screen and (max-width: 1150px) {
    .site-navbar {
        justify-content: space-around;
        padding-inline: 0.5rem;
    }

    .header-logo-container {
        margin-right: 0rem;
    }

    .header-links-wrapper {
        gap: 1.5rem;
    }

    .header-search-container {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 992px) {
    .site-navbar {
        position: relative;
        justify-content: space-between;
        padding-inline: 1rem 3rem;
    }

    .header-links-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
        transform-origin: right;
        z-index: 9;

        &.active {
            transform: scaleX(1);
        }
    }

    .header-links-wrapper {
        background-color: #fff;
        width: 100%;
        height: max-content;
        margin-left: -1rem;
        padding-inline: 1rem;
    }

    body:has(.header-links-container.active) {
        .burger-wrapper {
            i {
                color: #A6876A;
            }
        }
    }

    .header-links-wrapper {
        flex-flow: column;
        align-items: start;
        padding-block: 2rem;

        .header-link {
            i {
                transform: rotate(-90deg);
                transition: all 0.3s ease;
            }
        }
    }

    .burger-menu {
        position: absolute;
        right: 1rem;
        display: block;

        .burger-wrapper {
            position: relative;
        }

        .burger-checkbox {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;
            width: 1rem;
            height: 1rem;
            visibility: hidden;
        }

        i {
            font-size: 1rem;
            cursor: pointer;
        }
    }
}

/* HEADER PART ENDED */

/* CONTENT PART STARTED */

.main-carousel-content {
    position: relative;
}


.main-carousel-image-container {
    display: flex;
    justify-content: end;
    width: 100%;

    img {
        width: min(100%, 84rem) !important;
        height: 30rem;
        object-fit: cover;
    }
}

.main-carousel-object {
    position: relative;
}

.main-carousel-title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding-inline: 1rem;

    .main-carousel-title {
        color: #0E163D;
        font-family: var(--fontDM);
        font-size: 6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 6rem;
        letter-spacing: -0.25rem;
        width: min(100%, 50rem);
        margin-right: 10rem;
    }
}

.carouselLeft,
.carouselRight {
    position: absolute;
    color: var(--background-purple);
    font-size: 1.25rem;
    right: 8rem;
    margin-top: 3rem;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 1.5rem;
    color: #414562;
}

.carouselRight {
    right: 3rem;
}

@media screen and (max-width: 900px) {
    .main-carousel-image-container {
        img {
            width: 100% !important;
        }
    }

    .main-carousel-title-container {
        gap: 0rem;

        .main-carousel-title {
            font-size: 3.5rem;
            line-height: 120%;
            margin-right: 0;
        }
    }

    .carouselLeft,
    .carouselRight {
        font-size: 1rem;
        padding: 1rem;
        margin-top: 10rem;
    }

    .carouselRight {
        right: 4.5rem;
    }
}

@media screen and (max-width: 500px) {
    .main-carousel-content {
        margin-top: 10rem;
    }

    .main-carousel-object {
        display: flex;
        flex-flow: column-reverse;
    }

    .main-carousel-title-container {
        position: static;
        transform: unset;
        margin-bottom: -3rem;
        z-index: 1;

        .main-carousel-title {
            font-size: 3rem;
            line-height: 3.375rem;
            letter-spacing: 2px;
        }
    }
}

.main-carousel-count-container {
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;
    padding-inline: 0.5rem;
    gap: 0.5rem;

    @media screen and (max-width: 1150px) {
        gap: 1rem;

        .scrolldown-link {
            display: none;
        }
    }

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.main-carousel-count-column {
    .main-carousel-count-title {
        color: #0E163D;
        font-family: var(--fontDM);
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: -0.00563rem;
    }

    .main-carousel-count-text {
        color: #597393;
        font-family: var(--fontMR);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.625rem;
        width: min(100%, 21rem);
        padding-top: 0.75rem;
        margin-top: 0.75rem;
        border-top: 1px solid #BFD4E4;
    }
}

.owl-item.active {
    .main-carousel-count-title {
        color: #A6876A;
    }

    .main-carousel-count-text {
        border-top-color: #A6876A;
    }
}

.scrolldown-link {
    display: flex;
    flex-flow: column;
    color: #878995;
    font-family: var(--fontMR);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 10rem;
    transform: rotate(90deg);
    max-height: 1rem;
    margin-top: 3rem;

    i {
        margin-left: 0.5rem;
        transform: rotate(-90deg);
    }
}

/* About Us Started */

.about-us-section {
    margin-block: 10rem 5rem;
    background-color: #0E163D;

    @media screen and (max-width: 500px) {
        margin-top: -7rem !important;
    }
}

.about-us-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 8rem 1rem;
    width: 100%;
}

.about-us-article {
    width: 50%;
    .about-us-article-title {
        color: #A6876A;
        font-family: var(--fontDM);
        font-size: 1rem;
        font-weight: 700;
        line-height: 137.5%;
        text-transform: uppercase;
        text-align: end;
    }
}

.about-us-content {
    display: flex;
    flex-flow: column;
    padding-left: 5rem;

    .about-us-title {
        color: #fff;
        font-family: var(--fontDM);
        font-size: 4.875rem;
        font-weight: 700;
        line-height: 107.692%;
        letter-spacing: -0.17063rem;
        width: min(100%, 48rem);
    }
}

.about-us-text-info {
    display: flex;
    margin-top: 3.81rem;

    .about-us-text {
        color: #fff;
        font-family: var(--fontDM);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: -0.015rem;
        width: min(100%, 25rem);
        margin-right: 5rem;
    }
}

.about-us-percent-info {
    display: flex;
    gap: 1rem;

    .about-us-percent {
        display: inline-flex;
        color: #A6876A;
        font-family: var(--fontDM);
        font-size: 3rem;
        font-weight: 700;
        line-height: 112.5%;
        letter-spacing: -0.075rem;

        span {
            color: #fff;
            font-size: 1.5rem;
        }
    }

    .about-us-percent-text {
        color: #BFD4E4;
        font-family: var(--fontMR);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin-top: 2rem;
        width: min(100%, 10rem);
    }
}

@media screen and (max-width: 992px) {
    .about-us-container {
        flex-flow: column;
    }

    .about-us-article {
        width: 100%;
        margin-bottom: 2rem;
        .about-us-article-title {
            text-align: start;
        }
    }

    .about-us-content {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .about-us-section {
        margin-top: 0rem;
    }

    .about-us-content {
        .about-us-title {
            font-size: 3.25rem;
        }
    }

    .about-us-text-info {
        flex-flow: column;
    }

    .about-us-percent-info {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 550px) {
    .about-us-percent-info {
        flex-flow: column;
        .about-us-percent-text {
            width: max-content;
        }
    }
    .about-us-content {
        padding-inline: 0rem;
        .about-us-title {
            font-size: 2.65rem;
            letter-spacing: -0.0525rem;
        }
    }
    
}

/* About Us Ended */

/* CONTENT PART ENDED */


/* Full Screen Responsibility */
* {
    scroll-behavior: smooth !important;
}

@media screen and (min-width: 2000px) {
    .main {
        max-width: 2000px;
        margin: 0 auto;
        width: 100vw;
    }
}

@media screen and (min-width: 2500px) {
    .main {
        max-width: 2500px;
    }
}

@media screen and (min-width: 3000px) {
    .main {
        max-width: 3000px;
    }
}

@media screen and (min-width: 3500px) {
    .main {
        max-width: 3500px;
    }
}

@media screen and (min-width: 4000px) {
    .main {
        max-width: 4000px;
    }
}